body {
  font-family: Arial;
  background: #eef2f3;
  margin: 0;
}

.header {
  background: #0077b6;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.btn {
  display: inline-block;
  background: #0096c7;
  padding: 15px;
  color: white;
  width: 250px;
  margin: 10px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
}

footer {
  margin-top: 60px;
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 15px;
}
